function ex4.main 0
    push static 0
    call ex4.SumOfSquares 1
    pop static 1
label END
    goto END

function ex4.SumOfSquares 0
    push argument 0
    push constant 1
    eq
    // if n != 1
    if-goto	if_end
    push argument 0
    //square val
    call ex4.square 1
    // n - 1
    push argument 0
    push constant 1
    sub
    call ex4.SumOfSquares 1
    // n^2 + sumofsquares(n-1)
    add
    return
    //START OF RECURSION
    // if n == 1
label if_end
    push constant 1
    return 

function ex4.square 2
    //save num as local for counter
    push argument 0 
    pop local 0 //counter
label power_loop
    push argument 0
    push local 1
    add
    pop local 1 //sum
    // counter--
    push local 0
    push constant 1
    sub
    pop local 0
    //if counter == 0
    push local 0
    push constant 0
    eq 
    if-goto	end_of_loop
    // counter != 0
    goto power_loop
label end_of_loop
    // return sum
    push local 1
    return